  
    html{
        scroll-behavior:smooth;  
    }

    *{
        font-family: 'Lato', sans-serif;
        font-family: 'Roboto Mono', monospace;
        box-sizing: border-box;
        padding: 0;
        margin: 0;

    }
    /* VARIABLES GLOBALES */
    :root{
        --rojoPastel: #ff6961;
        --verdeFuerte: #77dd77;
        --amarilloPastel: #fdfd96;
        --azulPastel:#84b6f4;
        --colorBlancotxt:#f5f5f5;
        --bacgroundOscuro:rgb(54, 58, 66);
        --bacgroundReOscuro:rgb(28, 30, 34);
    }
    /* declaramos los bodies para los temas */
    .boody{
        background-color: var(--colorBlancotxt);
        height: 100%;
        margin: 0rem;
        padding: 0rem;
    }
    
    .bodyDark{
        background-color: var(--bacgroundReOscuro); 
        height: 100%;
        margin:0;
        padding: 0rem;
    

    }
    /* darkmode */
    
    /* HEADER AND NAV*/
    .contenedorNav{
        align-items: center;
        background-color:var(--bacgroundOscuro);
        border-radius: .4rem;
        display: flex;
        font-size: 1.4rem;
        justify-content: space-around;
        margin: 1rem 14rem 1rem 14rem;
    }
    .navegationMobile{
        display: none;
    }
    .containerNavToggle{
        display: none;
    }
    .containerTitle a{
        color: var(--verdeFuerte);
        cursor: pointer;
        display: block;
    }
    .containerTitle a b{
        color: var(--verdeFuerte);
        text-decoration: none;
    }


    .links, .links a b {
        color: var(--colorBlancotxt);
        text-decoration: none;
       
    }


    .link1:hover{
        color: var(--rojoPastel);
        transition: .3s;
    }
    .link2:hover{
        color: var(--verdeFuerte);
        transition: .3s;
    }
    .link3:hover{
        color: var(--amarilloPastel);
        transition: .3s;
    }
    .link4:hover{
        color: var(--azulPastel);
        transition: .3s;
    }
    .link5:hover{
        color: #fdcae1;
        transition: .3s;
    }
    .link6{
        border: solid 1px;
        border-radius: .4rem;
        color: var(--verdeFuerte);
        padding: .1rem;
        
    }
    .link6:hover,
    .containerTitle a:hover{
        color: #fdcae1;
        transition: .3s;
    }
    .link6:hover b{
        color: var(--verdeFuerte);
    }
    /* MAIN */
    .containerTitle a b,
    .links b{
        color: #fff;
    }
    .inicio{
        border-radius: .4rem;
        background-color: var(--bacgroundOscuro);
        display: grid;
        grid-template-columns:50px 1.2fr .8fr ;
        margin: 1rem 14rem 1rem 14rem;
        padding: 2rem;
    }
    .texto{
        margin-top: 14rem;
        min-width: 620px;
        margin-left: 3rem;
        width: 100%;
    }
    /* ICONOS */
    .iconos{
        color: var(--colorBlancotxt);
        font-size: 2.8rem;
        margin: auto ;
        margin-top: 14rem;
    }
    .icono1{
        color: #84b6f4;
    }
    .icono1:hover{
        color: var(--azulPastel);
    }
    .icono2:hover{
    color: var(--verdeFuerte);
    }
    /* TEXTO */
    .title__inicio{
    color: var(--rojoPastel);
    font-size: 2.7rem;
    }
    .stitle__inicio{
        color: var(--azulPastel);
        font-size: 1.9rem;
    }
    .description__inicio{
        color: var(--verdeFuerte);
        font-size: 1.7rem;
        margin-bottom: 1.7rem;
    }
    .b1{
        color: var(--amarilloPastel);
    }
    .b2{
        color: var(--rojoPastel);
    }
    .b3{
        color: white;  
    }
    .b4{
        color: var(--azulPastel);  
    }
    .b5{
        color:var(--verdeFuerte);
    }
    .buttonContact{
        color: var(--colorBlancotxt);
        text-decoration: none;
        padding: .8rem;
        background-color:var(--rojoPastel);
        border-radius: .5rem;
        font-size: 1.8rem;
        font-weight: 500;
        margin: 3rem 2rem 3rem 3rem;
    }
    .buttonContact:hover, .buttonContact:hover i {
        background-color:#fd473d;
        margin-right: 1rem;
        transition: .2s;
       
    }
    .containerImg {
    width: 400px;
    margin-top: 14.2rem;
    }

    .h22{
        transform: translate(110px,-370px);
        font-size: 4rem;
        color:var(--bacgroundOscuro);
        text-shadow: 4px 4px var(--rojoPastel);
        
    }
    
    
    .containerImg:hover{
        margin-left: 1rem;
        transition: .2s;
        cursor:pointer;
    }
    .about{
        margin: -6rem 14rem 10rem 14rem;
    }
    .containerAbout{
        background-color: var(--bacgroundOscuro);
        border-radius: .4rem;
        padding: 2rem;
        margin-bottom: 2rem;
        
    }
    .about__title{
        text-align: center;
        color: var(--colorBlancotxt);
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    .about__description{
        background-color: #fff;
        text-align: center;
        border-radius: .4rem;
        margin: 0rem 10rem;
        padding: 2rem;
       
       
    }
    .list__description {
        list-style-type: none;
        text-align: center;
        

    }
    /* education */
    .education a{
        text-decoration: none;
        color: var(--colorBlancotxt);
        padding: .4rem;
        
    }
    .arrowCourses{
        font-size: 1.3rem;
        font-weight: .3rem;
        margin: 0;
    }
    .education {
        background-color: #db6e6e;
        margin: .3rem;
        border-radius: .4rem;
        color: var(--colorBlancotxt);
        box-shadow: 3px 2px 2px rgb(0, 0, 0, 0.5);
        
    }
    
    /* pruebas read more */
    .leerMasContainer{
        margin: .3rem .2rem;
        background-color: var(--rojoPastel);
        border-radius: .3rem;
        text-align: center;
        padding: .3rem;
    }
    
    .leerMas{
        text-decoration: none;
        padding: .8rem;
        border-radius: .5rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--colorBlancotxt);
        padding: .4rem;
        cursor: pointer;
    }
    .leerMenosContainer{
        display: none;
    }
    .button-idioma{
        background-color: transparent;
        border: none;
        
    }
    .leerMenos{
        display: none;
    }
    .moreText{
        display: none;
    }
    .moreText1{
        display: block;
    }
    

    /* pruebas read more */
    .downloadCv{
        text-align: center;
        margin-top: 1rem;
        margin-right: 3.5rem;
        margin-bottom: 13rem;
    }

    .buttonCv{
        color: var(--colorBlancotxt);
        text-decoration: none;
        padding: .8rem;
        background-color:var(--rojoPastel);
        border-radius: .5rem;
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 3rem;
       
        
    }
    .buttonCv:hover{
        background-color:#fd473d;
       
    }
    .iconardos {
        display: grid;
        margin: 4rem ;
        grid-template-columns: repeat(6,1fr);
        justify-content: center;
        background-color: var(--colorBlancotxt);
        padding: 1rem;
        margin-bottom: 2rem;
        border-radius: .4rem;
    }
    .iconardos img{
        background-color: var(--colorBlancotxt);
        width: 85px;
    }
    .tecnologias{
        background-color: var(--bacgroundOscuro);
        margin: -10.4rem 14rem 9rem 14rem;
    }
    .tecnodiv{
        background-color: var(--bacgroundOscuro);
        border-radius: .4rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }
    .tecno__title{
        text-align: center;
        color: var(--colorBlancotxt);
        font-size: 2rem;
    }
    .tecno__description{
        background-color: #fff;
        text-align: center;
        margin: 0rem 10rem 0rem 10rem;
        padding: 2rem;
        border-radius: .4rem;
        
    }
    /* readmoreTec */
    .leerMasDescription{
        display: none;
    }
    .leerMasDescription1{
        display: block;
    }

    

    .contactame{
        background-color: var(--bacgroundOscuro); 
        margin: -10rem 14rem 0rem 14rem
    }
    .formTitle{ 
     margin-top: 12rem;
    }
    .containerForm{
        background-color: var(--bacgroundOscuro);
        display: grid;
        gap: 3rem;
        justify-content: center;
        margin-top: 10rem;
       
    }

    .formContact{
        
        background-color: var(--colorBlancotxt);
        border-radius: .4rem;
        padding: .4rem;
        margin: 4rem;
        margin-top: 0;
    }
    .formContact input, .formContact textarea {
        font-size: 1.2rem;
        border: none;
        outline: none;
        width: 100%;
        border-radius: .4rem;
    }
    .nombre,.email,.asunto,.textarea{
        color: var(--colorBlancotxt);
        background-color:#db6e6e;
        padding: .8rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 600px; 
    }
    .containerForm input, textarea{
        background-color:#f87d76; 
        color: var(--colorBlancotxt);
        
    }
    .textarea{
        margin-bottom: .5rem;
    }
    .containerButton{
       text-align: center;
       
    }
    .buttonSubmit{
        color: var(--colorBlancotxt);
        text-decoration: none;
        padding: .4rem;
        background-color:var(--rojoPastel);
        border-radius: .5rem;
        font-size: 1.4rem;
        font-weight: 500;  
        
    }
    .buttonSubmit:hover {
        background-color:#fd473d;
    }

    .containerFooter{
        text-align: center;
        background-color: var(--bacgroundOscuro);
        color: var(--colorBlancotxt);
        font-size: 1.4rem;
        border-radius: .4rem;
        margin: 0rem 14rem 0rem 14rem;
    
        
    }
    .footer__links{
        display: flex;
        flex-direction: row;
        justify-items: center;
        list-style-type: none;
        justify-content: center;
        row-gap: 1.5rem;
       
    }
    .footer__link{
        text-decoration: none;
        margin: 2rem;  
    }
    .footer__link:hover{
        color: var(--colorBlancotxt);
    }
    .cursolink a:hover{
        color: var(--bacgroundReOscuro);
    }
    .leerMasContainer:hover{
        background-color:#fd473d;
    }
    .backgroundDarkItems{
        background-color:#5a637580 ;
        color:var(--colorBlancotxt) ;
    }

    .container__proyectos{
        display: flex;
        border-radius: .4rem;
        justify-content: center;
        align-items: center;
       
        min-width: 600px;
        
    }
    .container__proyectos-descript{
        margin: 0rem 6.5rem;
        background-color: var(--colorBlancotxt);
        border-radius: .8rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
       
    }
    .container__button-proyect{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about__container-proyect-link{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 5rem;
    }
    .about__proyect-link{
        text-decoration: none;
        background-color: var(--rojoPastel);
        padding: 1rem;
        margin-top: 1rem;
        border-radius: 5rem;
        color: var(--colorBlancotxt);
        font-size: .8rem;
    }
    .about__proyect-link:hover{
        background-color:#9e2822;
        margin-left: 1rem;
        transition: .3s ease;
    }
    .button__slider{
        padding: .3rem;
        background-color: var(--rojoPastel);
        border: none;
        border-radius: .5rem;
        font-size: 2rem;
        color: var(--colorBlancotxt);
        margin: 1rem;
        
    }
    .button__slider:hover{
        cursor: pointer;
        background-color:#9e2822;
        transition: .3s ease ;
    }
    .img__proyect{
        border-radius: .8rem;
        height: 250px;
        width: 250px;
        box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
        margin-left: 1.5rem;
    }
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .9rem;
    background-color: var(--bacgroundReOscuro);
    
}
::-webkit-scrollbar-thumb{
    background-color: var(--bacgroundOscuro);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--rojoPastel);
}
/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media  screen and (max-width:560px){
    .contenedorNav{
        display: none;
    }
    
    .links, .links a b {
       display: none;
       
    }
    
    /* MAIN */
    .blob, .h22{
        display: none;
    }
    
    .inicio{
        grid-template-columns: 40px 1fr;
        margin: 1rem 1rem 0rem 1rem;
    }
    .texto{
        margin-top: 2rem;
        min-width: 160px;
        margin-left: .2rem;
        width: 100%;
    }
    .iconos{
        color: var(--colorBlancotxt);
        font-size: 1.5rem;
        margin: auto ;
        margin-top: 6rem;
    }
    /* TEXTO */
    .title__inicio{
        
        font-size: 2rem;
        }
        .stitle__inicio{
            
            font-size: 1.4rem;
        }
        .description__inicio{
           
            font-size: 1.3rem;
            margin-bottom: 1.7rem;
        }
        .buttonContact{
            
            text-decoration: none;
            padding: .8rem;
           
            border-radius: .5rem;
            font-size: 1rem;
            font-weight: 500;
            margin: auto;
        }
        .buttonContact:hover, .buttonContact:hover i {
            margin-right: .6rem; 
        }
        /* about */
        .about{
            margin: -14rem 1rem 0rem 1rem;
        }
        .containerAbout{
            
            border-radius: .4rem;
            padding: 2rem;
            margin-bottom: 2rem;
        }
        .about__title{
            text-align: center;
            
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
        
        .about__description{
            text-align:center ;
            border-radius: .4rem;
            margin: 0rem 1rem 0rem 1rem;
            padding: .2rem;
            font-size: 1rem;
        }
        .downloadCv{
            text-align: center;
            margin-top: 2rem;
            margin-right: 3.5rem;
            margin-bottom: 10rem;
        }
        .buttonCv{
           
            text-decoration: none;
            padding: .8rem;

            border-radius: .5rem;
            font-size: .8rem;
            font-weight: 500;
            margin: auto;
       
    }
    .lista{
        margin-bottom: 10rem;
    }
    
    .tecno__title{
        font-size: 1.7rem;
    }
    .tecno__description{
       
        text-align:center;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem;
        border-radius: .4rem;
        font-size: 1rem;
    }
    .iconardos {
        display: grid;
        margin: 1rem ;
        grid-template-columns: repeat(6,1fr);
        justify-content: center;
        padding: .3rem;
        border-radius: .4rem;
        margin-bottom: 3rem;
    }
    .iconardos img{

        width: 40px;
    }
    .tecnologias{
       
        margin: -14rem 1rem 12rem 1rem;
    }
    /* formulario */
    .contactame{
        
        margin: -12rem 1rem 3rem 1rem
    }
    .formTitle{ 
     margin-top: 2rem;
    }
    .containerForm{
        
        display: grid;
        gap: 3rem;
        justify-content: center;
        margin-top: 10rem;
       
    }

    .formContact{
       
        border-radius: .4rem;
        padding: .4rem;
        margin: 4rem;
        margin-top: 0;
    }
    .formContact input, .formContact textarea {
        font-size: 1.2rem;
        border: none;
        outline: none;
        width: 100%;
        border-radius: .4rem;
    }
    .nombre,.email,.asunto,.textarea{
        
        padding: .8rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 232px;
    }
    
    .textarea{
        margin-bottom: .5rem;
    }
    .containerButton{
       text-align: center;
       
    }
    .buttonSubmit{
       
        text-decoration: none;
        padding: .4rem;
       
        border-radius: .5rem;
        font-size: 1.2rem;
          
        
    }
    
    /* footer */
    .containerFooter{
        text-align: center;
        font-size: 1.4rem;
        border-radius: .4rem;
        margin: -4rem 1rem 0 1rem;
    
        
    }
    .footer__title{
        font-size: 1.4rem;
        margin-top: .3rem;
    }
    
    .footer__links{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        
    }
    .footer__link{
        text-decoration: none;
        font-size: 1rem;
        margin-left: -.4rem;
    }
   .footer__final{
       font-size: 1rem;
       margin-bottom: 1rem;
}
       .description__inicio{
        min-height: 300px;
    }
}


/* For medium devices */

@media screen and (min-width:560px){
    .contenedorNav{
        display: none;
    }
    
    .links, .links a b {
       display: none;
       
    }
    
    /* MAIN */
    .blob, .h22{
        display: none;
    }
    
    .inicio{
        grid-template-columns: 40px 1fr;
        margin: 1rem 1rem 0rem 1rem;
    }
    .texto{
        margin-top: 2rem;
        min-width: 160px;
        margin-left: .2rem;
        width: 100%;
    }
    .iconos{
        color: var(--colorBlancotxt);
        font-size: 1.5rem;
        margin: auto ;
        margin-top: 6rem;
    }
    /* TEXTO */
    .title__inicio{
        
        font-size: 2rem;
        }
        .stitle__inicio{
            
            font-size: 1.4rem;
        }
        .description__inicio{
           
            font-size: 1.3rem;
            margin-bottom: 1.7rem;
        }
        .buttonContact{
            
            text-decoration: none;
            padding: .8rem;
           
            border-radius: .5rem;
            font-size: 1rem;
            font-weight: 500;
            margin: auto;
        }
        .buttonContact:hover, .buttonContact:hover i {
            margin-right: .6rem; 
        }
        /* about */
        .about{
            margin: -14rem 1rem 4rem 1rem;
        }
        .containerAbout{ 
            border-radius: .4rem;
            padding: 2rem;
            margin-bottom: 2rem;
        }
        .about__title{
            text-align: center;
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
        
        .about__description{
            text-align: center;
            border-radius: .4rem;
            margin: 0rem 1.4rem 0rem 1.4rem;
            padding: 1.3rem;
            font-size: 1rem;
        }
        
        
        .downloadCv{
            text-align: center;
            margin-top: 2rem;
            margin-right: 3.5rem;
            margin-bottom: 10rem;
        }
        .buttonCv{
            text-decoration: none;
            padding: .8rem;
            border-radius: .5rem;
            font-size: 1rem;
            font-weight: 500;
            margin: 0rem 0rem 40rem 2rem;
    }
    .lista{
        margin-bottom: 10rem;
    }
    .list__description {
        list-style-type: none;
        text-align: center;
    }
    .education {
       
        margin: .3rem;
        border-radius: .4rem;
        color: var(--colorBlancotxt);
        
        
    }
    .tecno__title{
        font-size: 1.7rem;
        
    }
    .tecno__title{
        font-size: 1.7rem;
    }
    .tecno__description{  
        text-align:center;
        margin: 0rem 1rem 0rem 1rem;
        padding: 2rem;
        border-radius: .4rem;
        font-size: 1rem;
    }
    .iconardos {
        display: grid;
        margin: -2rem 3rem ;
        grid-template-columns: repeat(6,1fr);
        justify-content: center;
        padding: 1rem;
        border-radius: .4rem;
    }
    .iconardos img{
        
        width: 40px;
    }
    .tecnologias{
       
        margin: -14rem 1rem 14rem 1rem;
    }
    /* formulario */
    .contactame{
        
        margin: -14.1rem 1rem 3rem 1rem
    }
    .formTitle{ 
     margin-top: 0rem;
    }
    .containerForm{
        
        display: grid;
        gap: 3rem;
        justify-content: center;
        margin-top: 10rem;
       
    }

    .formContact{
       
        border-radius: .4rem;
        padding: .4rem;
        margin: 4rem;
        margin-top: 0;
    }
    .formContact input, .formContact textarea {
        font-size: 1.2rem;
        border: none;
        outline: none;
        width: 100%;
        border-radius: .4rem;
    }
    .nombre,.email,.asunto,.textarea{
        
        padding: .8rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 350px;
    }
    
    .textarea{
        margin-bottom: .5rem;
    }
    .containerButton{
       text-align: center;
       
    }
    .buttonSubmit{
       
        text-decoration: none;
        padding: .4rem;
       
        border-radius: .5rem;
        font-size: 1.2rem;
          
        
    }
    
    /* footer */
    .containerFooter{
        text-align: center;
        font-size: 1.4rem;
        border-radius: .4rem;
        margin: -4rem 1rem 0 1rem;
    
        
    }
    .footer__title{
        font-size: 1.4rem;
        margin-top: .3rem;
    }
    
    .footer__links{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        
    }
    .footer__link{
        text-decoration: none;
        font-size: 1rem;
        margin-left: -.4rem;
    }
   .footer__final{
       font-size: .7rem;
       margin-bottom: 1rem;
    }
    .description__inicio{
        min-height: 140px;
    }
       
}

@media screen and (min-width:768px){
    .nombre,.email,.asunto,.textarea{
        padding: .8rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 432px;
    }
    .contenedorNav{
        align-items: center;
        border-radius: .4rem;
        display: flex;
        font-size: 1.1rem;
        justify-content: space-around;
        margin: 1rem 1rem 1rem 1rem;
    }
    .links{
        display: inline-block;
        
    }
    .iconardos{
        margin: 6rem 1rem 4rem 1rem ;
    }
    .tecnologias{
       
        margin: -14rem 1rem 0rem 1rem;
    }
    .contenedorNav,
    .inicio,
    .about,
    .tecnologias, 
    .contactame,
    .containerFooter{
        margin: 1rem 3rem;
       
    }
    .about{
        margin-top: -9rem;
    }
    .tecnologias{
        margin-top: -6rem;
    }
    .contactame{
        margin-top: -10.1rem;
    }
    .containerFooter{
        margin-top: -2rem;
    }
    .about__description,
    .tecno__description{
        width: 400px;
        margin: auto;
        
    }
    .iconardos{
        width: 500px;
        margin: auto;
    }
    .about__title{
        margin-top: 2rem;
    }
    .description__inicio{
        min-height: 150px;
    }
}   

/* For large devices */
@media  screen and (min-width: 1024px){
    .contenedorNav,
    .inicio,
    .about,
    .tecnologias, 
    .contactame,
    .containerFooter{
        margin: 1rem 4rem 0rem 4rem; 
       
    }
    .contenedorNav{
        font-size: 1.3rem;
        padding: .7rem;
    }

    .about{
    margin-top: -8rem;
    
    }
    
    .inicio{
        border-radius: .4rem;
        background-color: var(--bacgroundOscuro);
        display: grid;
        grid-template-columns:50px 1.7fr .3fr ;
        gap: 1rem;
        margin-top: 1rem;
        padding: 2rem;
    }
    .blob, .h22{
        display: block;
        width: 300px; 
        margin-left: 2rem; 
    }
    .h22{
        transform: translate(70px, -250px);
    }
    .containerInicio{
        margin-top: 10rem;
        min-width: none;
    }
    .containerImg{
        margin-top: 10rem;
       
    }
    .iconos{
        font-size: 2rem;
        margin: auto;
    }
    
    .about__description,
    .tecno__description{
        width: 600px;
        font-size: 1.4rem;
    }
    .containerInicio{
        margin-bottom: 10rem;
    }
    .tecnologias{
        margin-top: -3rem;  
        
    }
    .contactame{
        margin-top: -10.3rem; 
    }
    .nombre,.email,.asunto,.textarea{
        font-size: 1.4rem;
        padding: .8rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 700px;
    }
    .formContact input{
        font-size: 1.6rem;
    }
    .buttonSubmit{
        font-size: 1.3rem;
    }
    .title{
    width: 270px;
    }
    .iconardos{
        width: 800px;
    }
    .iconardos img{
        width: 90px;
    }
    .containerFooter{
        padding: .5rem;
    }
     /* sacamos los read more para que en pantallas grandes podamos observar mejor */
     .leerMasDescription{
        display: block;
    }
    .leerMasContainer{
        display: none;
    }
    .leerMasDescription{
        display: inline;
    }
    
}
@media  screen and (min-width: 1280px){
    .contenedorNav,
    .inicio,
    .about,
    .tecnologias, 
    .contactame,
    .containerFooter{
        margin: 1rem 14rem 0rem 14rem; 
       
    }

    .contenedorNav{
        font-size: 1.3rem;
        padding: .7rem;
    }

    .about{
    margin-top: -8rem;
    
    }
    
    .inicio{
        border-radius: .4rem;
        background-color: var(--bacgroundOscuro);
        display: grid;
        grid-template-columns:50px 1.7fr .3fr ;
        gap: 1.3rem;
        margin-top: 1rem;
        padding: 4rem;
    }
    .blob, .h22{
        width: 310px; 
        margin-right: 0rem; 
    }
    .about__description,
    .tecno__description{
        width: 800px;
        font-size: 1.4rem;
    }
    .containerInicio{
        margin-top: 10rem;
        min-width: 400px;
    }
    .containerImg{
        margin-top: 10rem;
       
    }
    .iconos{
        font-size: 2rem;
        margin: auto;
        margin-top: 12rem;
    }
    
    .containerInicio{
        margin-bottom: 24rem;
    }
    .tecnologias{
        margin-top: -3rem;  
        
    }
    .contactame{
        margin-top: -10.3rem; 
    }
    .nombre,.email,.asunto,.textarea{
        font-size: 1.4rem;
        padding: 1rem;
        margin: 1rem;
        border-radius: .4rem;
        margin-top: .3rem;
        width: 800px;
    }
    
    .formContact input{
        font-size: 1.6rem;
    }
    .buttonSubmit{
        font-size: 1.3rem;
    }
    .title{
    width: 270px;
    }
    .iconardos{
        width: 800px;
    }
    .iconardos img{
        width: 90px;
    }
    .containerFooter{
        padding: .5rem;
    }
    
    
}

